.dadosCategorias{
    padding: 10px 10px 10px 10px;
}
.tabela{
    width: 100%;
    padding-top: 30px;
}
.divCard{
    padding: 50px; 
    width: 600px;
}
.mat-form-field.mat-form-field{
    width: 500px;
}
.cabecalho{
    padding-top: 30px;
    padding-bottom: 30px;
}
.titulo{
    position:absolute;
    left: 5px;
}